<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{174,252}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,252}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{174,252}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,254}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,254}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{174,254}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,254}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{174,254}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,254}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{174,252}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{174,252}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,260},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,260},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,260},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,260},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,260},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,260},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,518},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,518},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,518},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,518},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,518},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,518},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,776},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,776},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,776},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,776},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,776},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>hint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1034},{170,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{170,246}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>hint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1034},{170,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{170,246}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1034},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1034},{178,256}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1292},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1292},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1292},{178,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1292},{178,256}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,256}}</string>
                <key>sourceSize</key>
                <string>{184,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards_iPad@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305bfa7f45e8fb23c5b3c8e05ebc7d56:1/1$</string>
            <key>textureFileName</key>
            <string>cards_iPad@2x.png</string>
        </dict>
    </dict>
</plist>
