<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,126}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,126}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{88,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{88,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,126}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,134},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,266},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,266},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,398},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>hint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,528},{86,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{86,124}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>hint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,528},{86,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{86,124}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,528},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,658},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,658},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,658},{90,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,130}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,658},{90,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,128}}</string>
                <key>sourceSize</key>
                <string>{92,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e076eaf6c62deb643e1e1bffa5cd65a:1/1$</string>
            <key>textureFileName</key>
            <string>cards@2x.png</string>
        </dict>
    </dict>
</plist>
