<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,70},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,138},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,138},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,206},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>hint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,272},{44,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,62}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>hint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,272},{44,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,62}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,272},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,338},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,338},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,338},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,338},{44,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,64}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea243531783299371bdd1a4cee9576e5:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
